.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:100;

}
.transparent-text{
    -fx-background-color: rgba(0,0,0,0);

}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius:80;

}

.right-bar{
    -fx-background-color:#D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);

}

.choosen-fruit-card{
    -fx-background-color:#F16C31;
    -fx-background-radius:38;

}

.comboBox{
    -fx-background-color:rgba(255,255,255,0.3);
    -fx-background-radius:30;

}

.price-field{
    -fx-background-radius:50;


}

.add-to-cart-button{
-fx-background-color: #FFFFFF;
    -fx-background-radius:50;
}

.free-delivery-card{
    -fx-background-color:#D3D3D3;
    -fx-background-radius:30;
}

.shopping-online-card{
    -fx-background-color:#BAEAC3            ;
    -fx-background-radius:30;
}